table,
th,
td {
    border: 1px solid black;
}


.contenedor-operaciones {
    display: flex;
    clear: both;
    margin-top: 40px;
    padding: 15px;
}

.contenedor-boton-operaciones {
    border-color: green;
}