<h1>Calculadora</h1>
<div>
  resultados
  <div>{{resultado}}</div>
</div>
<div>numeros
  <div>{{cifra1}}</div>
  <div>{{cifra2}}</div>
  <div>{{cifra3}}</div>
  <div>{{cifra4}}</div>
  <div>{{cifra5}}</div>
  <div>{{cifra6}}</div>
  <div>{{cifra7}}</div>
  <div>{{cifra8}}</div>
  <div>{{cifra9}}</div>
  <div>{{cifra0}}</div>

</div>

<div class="contenedor-operaciones">operaciones
  <div class="contenedor-boton-operaciones">suma
    <button type="button" (click)="sumar()">mas</button>
  </div>
  <div class="contenedor-boton-operaciones">resta
    <button type="button" (click)="restar()">menos</button>
  </div>
  <div class="contenedor-boton-operaciones">multiplicacion
    <button type="button" (click)="multiplicar()">por</button>
  </div>
  <div class="contenedor-boton-operaciones">division
    <button type="button" (click)="dividir()">entre</button>
  </div>
</div>